:root {
    --lightBlue: #2b6cad;
    --opicityWhite: #ffffffd0;
    --white: #ffffff;
    --darkBlue: #1a3757;
    --fontSizeBigger: 3.1rem;
    --fintSizeSmaller: 1.3rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto'!important;
    margin: 0%;
    position: relative;
}


/* start navbar */

#NavBar {
    position: fixed;
    top: 0;
    left: -5%;
    right: 10%;
    padding: 0% 0% 0% 7%;
    background-color: var(--opicityWhite);
    transform: skewX(-30deg);
    z-index: 9999999999999999999;
}

#NavBar i {
    cursor: pointer;
    color: var(--lightBlue);
}

#NavBar .navbar-brand img {
    transform: skewX(30deg);
}

#NavBar #navbarList .nav-item {
    padding: 3% 2%;
    background: transparent;
    transition: ease-in-out 0.4s background;
}

#NavBar #navbarList .nav-item .nav-link {
    color: var(--lightBlue);
    font-weight: 500;
    font-size: 1.02rem;
    transform: skewX(30deg);
}

#NavBar #navbarList {
    height: 100% !important;
    margin: 0;
}

#NavBar #navbarList .nav-item:hover {
    background: var(--lightBlue);
    color: var(--white)
}

#NavBar #navbarList .nav-item:hover .nav-link {
    color: var(--white)
}

#NavBar #navbarList .nav-item .dropdown-menu {
    background-color: var(--opicityWhite);
    margin: 0%;
    border-radius: 0;
}

#NavBar #navbarList .nav-item .dropdown-menu .dropdown-item {
    transform: skewX(30deg);
    color: var(--lightBlue);
}

#NavBar #navbarList .nav-item .dropdown-menu .dropdown-item:hover {
    color: black;
    background-color: transparent;
    font-weight: 700;
}


/* end navbar */


/* start carousel in home page */

#carouselHomePageHeader .carousel-item {
    position: relative;
    overflow: hidden;
}

#carouselHomePageHeader .carousel-item .carouselLayerImg {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-52%, -50%);
    width: 100%;
}

#carouselHomePageHeader .carousel-item .carouselLayerImg .carouselLayerImgLayer {
    transform: skewX(-30deg) translate(-40%, 50%);
    background: var(--lightBlue);
    position: relative;
    height: 100vh;
    left: -40%;
    top: -50%;
    z-index: 999;
}

#carouselHomePageHeader .carousel-item .carouselLayerImg h1 {
    transform: skewX(30deg);
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-35%, -55%);
    width: 100%;
    z-index: 9999;
    color: var(--white);
    font-weight: 700;
    font-size: var(--fontSizeBigger);
}

#carouselHomePageHeader .carousel-item .carouselLayerImg .carousel-btns {
    transform: skewX(30deg);
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-25%, -45%);
    width: 100%;
    z-index: 9999;
    color: var(--white);
    font-size: 1.9rem;
    cursor: pointer;
}


/* end carousel in home page */


/* start cards in home page */

#cardsHomePage {
    background: #254f7c;
}

#cardsHomePage .row .col-md-4 .card {
    transform: translateY(-40%);
    padding: 4%;
    background: var(--darkBlue);
    color: var(--white);
    position: relative;
    border-radius: 1px;
    height: 100%;
    z-index: 99999;
}

#cardsHomePage .row .col-md-4 p {
    color: #dbdbdb;
    font-weight: lighter;
}

#cardsHomePage .row .col-md-4 .card::before {
    position: absolute;
    top: 0;
    width: 100px;
    height: 2px;
    left: 10px;
    background: linear-gradient(90deg, #8951f0, #d71f98);
    content: "";
}


/* end cards in home page */


/* start 2nd carousel home page */

#secondCarousel .right-of-carousel {
    transform: skewX(-10deg) translateX(12%);
}

#secondCarousel .right-of-carousel div img {
    height: 100%;
}

#secondCarousel .carousel-btns {
    color: var(--lightBlue);
    font-weight: bold;
    cursor: pointer;
}


/* end 2nd carousel home page */


/* start footer */

#Footer {
    background: var(--darkBlue);
}


/* end footer */


/* start header in about page */

#headerAboutPage {
    background-image: url('../images/co..jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    height: 60vh;
    overflow: hidden;
}

#headerAboutPage .layer {
    height: 100%;
    background: rgba(0, 0, 0, 0.342);
}

#headerAboutPage .layer .carouselLayerImgLayer {
    transform: skewX(-15deg) translate(-50%, -9%);
    background: var(--lightBlue);
    position: relative;
    height: 100vh;
    left: -40%;
    top: 70%;
    z-index: 999;
}

#headerAboutPage .layer .carouselLayerImgLayer div {
    position: absolute;
    left: 93%;
    top: 4%;
    transform: skewX(15deg);
    width: 100%;
    color: var(--white);
}

#headerAboutPage .layer .carouselLayerImgLayer div h2 {
    font-weight: 800;
    font-size: var(--fontSizeBigger);
}

#headerAboutPage .layer .carouselLayerImgLayer div p {
    font-size: 1.1rem;
    color: #dbdbdb;
    font-weight: lighter;
}

#ourStoryAboutPage .container h2 {
    font-size: var(--fontSizeBigger);
    padding: 1% 0%;
    font-weight: 800;
}

#missionVisionAboutPage {
    background: var(--lightBlue);
}

#ourPartnersAboutPage .container h2 {
    font-size: var(--fontSizeBigger);
    font-weight: 800;
}


/* end header in about page */


/* start customer page */

#headerCustomerPage {
    background-image: url('../images/customersLogo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    height: 60vh;
    overflow: hidden;
}

#headerCustomerPage .layer {
    height: 100%;
    background: rgba(0, 0, 0, 0.342);
}

#headerCustomerPage .layer .carouselLayerImgLayer {
    transform: skewX(-15deg) translate(-50%, -9%);
    background: var(--lightBlue);
    position: relative;
    height: 100vh;
    left: -40%;
    top: 70%;
    z-index: 999;
}

#headerCustomerPage .layer .carouselLayerImgLayer div {
    position: absolute;
    left: 93%;
    top: 4%;
    transform: skewX(15deg);
    width: 100%;
    color: var(--white);
}

#headerCustomerPage .layer .carouselLayerImgLayer div h2 {
    font-weight: 800;
    font-size: var(--fontSizeBigger);
}

#headerCustomerPage .layer .carouselLayerImgLayer div p {
    font-size: 1.1rem;
    color: #dbdbdb;
    font-weight: lighter;
}

#ourCustomersCustomerPage p {
    font-size: 1.3rem;
    color: #4b4949;
}


/* end customer page */


/* start contact page */

#headerContactPage {
    background-image: url('../images/contactSection.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    height: 60vh;
    overflow: hidden;
}

#headerContactPage .layer {
    height: 100%;
    background: rgba(0, 0, 0, 0.342);
}

#headerContactPage .layer .carouselLayerImgLayer {
    transform: skewX(-15deg) translate(-50%, -9%);
    background: var(--lightBlue);
    position: relative;
    height: 100vh;
    left: -40%;
    top: 70%;
    z-index: 999;
}

#headerContactPage .layer .carouselLayerImgLayer div {
    position: absolute;
    left: 93%;
    top: 4%;
    transform: skewX(15deg);
    width: 100%;
    color: var(--white);
}

#headerContactPage .layer .carouselLayerImgLayer div h2 {
    font-weight: 800;
    font-size: var(--fontSizeBigger);
}

#headerContactPage .layer .carouselLayerImgLayer div p {
    font-size: 1.1rem;
    color: #dbdbdb;
    font-weight: lighter;
}

#contactSectionContactPage {
    background: linear-gradient(50deg, var(--darkBlue), var(--lightBlue));
}

#contactSectionContactPage .list-group span {
    color: var(--lightBlue);
    font-size: 14px;
}

#contactSectionContactPage input,
#contactSectionContactPage textarea {
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid;
    border-color: var(--lightBlue);
    outline: none;
    border-radius: 0;
    width: 100%;
}

#contactSectionContactPage input::placeholder,
#contactSectionContactPage textarea::placeholder {
    font-weight: 400;
    line-height: 26px;
    color: #3076c5;
    background-color: transparent;
    text-transform: capitalize;
}

#contactSectionContactPage input:focus,
#contactSectionContactPage textarea:focus {
    box-shadow: 0 0px 0px var(--darkBlue);
    outline: 0 none;
    background-color: #f0f1f3;
    border-color: var(--lightBlue);
    color: var(--darkBlue);
}

#contactSectionContactPage form div button {
    background: linear-gradient(50deg, var(--darkBlue), var(--lightBlue));
    color: var(--white);
}


/* end contact page */


/* start products page */

#headerProductPage {
    background-image: url('../images/productsPage.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    height: 60vh;
    overflow: hidden;
}

#headerProductPage .layer {
    height: 100%;
    background: rgba(0, 0, 0, 0.342);
}

#headerProductPage .layer .carouselLayerImgLayer {
    transform: skewX(-15deg) translate(-50%, -9%);
    background: var(--lightBlue);
    position: relative;
    height: 100vh;
    left: -40%;
    top: 70%;
    z-index: 999;
}

#headerProductPage .layer .carouselLayerImgLayer div {
    position: absolute;
    left: 93%;
    top: 4%;
    transform: skewX(15deg);
    width: 100%;
    color: var(--white);
}

#headerProductPage .layer .carouselLayerImgLayer div h2 {
    font-weight: 800;
    font-size: var(--fontSizeBigger);
}

#headerProductPage .layer .carouselLayerImgLayer div p {
    font-size: 1.1rem;
    color: #dbdbdb;
    font-weight: lighter;
}


/* #productProductsPage h2 {
    color: var(--lightBlue);
    font-size: 1.9rem;
    font-weight: bolder;
} */

#productProductsPage h2 img {
    width: 15%;
    border-bottom: 10px #a01313d0;
}

#productProductsPage .row .col-md-2 {
    overflow: hidden;
}

#productProductsPage .row .col-md-2 img {
    transition: ease-in-out 0.5s transform;
    border-radius: 15px;
}

#productProductsPage .row .col-md-2 img:hover {
    transform: scale(1.9);
}


/* end product page */

@media only screen and (max-width: 1000px) {
    #NavBar {
        padding: 0% 0% 0% 1%;
        left: 0;
        transform: skewX(0);
        right: 0;
    }
    #NavBar i {
        font-size: 1.1rem;
    }
    #NavBar .navbar-brand img {
        transform: skewX(0);
    }
    #NavBar #navbarList .nav-item .nav-link {
        transform: skewX(0);
    }
    #NavBar #navbarList .nav-item .dropdown-menu .dropdown-item {
        transform: skewX(0);
    }
    #carouselHomePageHeader .carousel-item .carouselLayerImg h1 {
        font-size: 1.3rem;
        top: 60%;
        left: -32%;
        transform: translate(30%, -60%);
    }
    #carouselHomePageHeader .carousel-item .carouselLayerImg {
        left: 10%;
        top: 70%;
        transform: translate(-2%, -70%);
    }
    #carouselHomePageHeader .carousel-item .carouselLayerImg .carousel-btns {
        font-size: 1.4rem;
        top: 55%;
        left: 45%;
        transform: translate(-25%, -55%);
    }
    #cardsHomePage .row .col-md-4 .card {
        font-size: 0.8rem;
        transform: translateY(-35%);
    }
    #secondCarousel .right-of-carousel {
        transform: skewX(0) translateX(2%);
        position: relative;
    }
    #headerContactPage .layer .carouselLayerImgLayer div h2,
    #headerAboutPage .layer .carouselLayerImgLayer div h2,
    #headerCustomerPage .layer .carouselLayerImgLayer div h2,
    #headerProductPage .layer .carouselLayerImgLayer div h2 {
        font-size: 1.3rem;
        top: 1%;
        left: 4%;
        transform: translate(-4%, -1%);
    }
    #headerAboutPage .layer .carouselLayerImgLayer div p,
    #headerCustomerPage .layer .carouselLayerImgLayer div p,
    #headerContactPage .layer .carouselLayerImgLayer div p,
    #headerProductPage .layer .carouselLayerImgLayer div p {
        font-size: 0.8rem;
        top: 1%;
        left: 4%;
        transform: translate(-4%, -1%);
    }
    #headerContactPage .layer .carouselLayerImgLayer,
    #headerAboutPage .layer .carouselLayerImgLayer,
    #headerCustomerPage .layer .carouselLayerImgLayer,
    #headerProductPage .layer .carouselLayerImgLayer {
        transform: skewX(-15deg) translate(-1%, -10%);
        left: -98%;
        top: 80%;
    }
    #ourCustomersCustomerPage p {
        font-size: 0.8rem;
    }
    #ourCustomersCustomerPage .container h2,
    #ourStoryAboutPage .container h2,
    #ourPartnersAboutPage .container h2 {
        font-size: 1.9rem;
    }
    #contactSectionContactPage form div button {
        font-size: 13px;
    }
    #contactSectionContactPage input,
    #contactSectionContactPage textarea {
        padding: 4px;
    }
    #Footer {
        font-size: 0.7rem;
    }
}